html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 30px;
    color: $gray-6;
}

h1 {
    border-bottom-style: solid;
    border-bottom-color: $gray-1;
    border-bottom-width: 1px;
    padding-bottom: 15px;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
    color: $gray-6;
}

p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
    color: $gray-5;
}

button,
.button {
    display: block;
    padding: 6px 20px;
    color: $white;
    border: none;
    border-radius: 3px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.5px;
}

button,
.button {
    background-color: $primary;
}

button:hover,
.button:hover {
    background-color: darken($primary, 5%);
}

button:active,
.button:active {
    background-color: darken($primary, 10%);
}