// grays.
$gray-0: #f8f9fa;
$gray-1: #f0f1f4;
$gray-2: #e7e9ed;
$gray-3: #acb3c2;
$gray-4: #727e96;
$gray-5: #454d5d;
$gray-6: #333333;

// white.
$white: #ffffff;

// black.
$black: #000000;

// primary.
$primary: #5173fb;